*:focus {
    border-color: inherit !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.navbar-brand img{
    max-width: 100%;
    max-height: 65px !important;
}

.pl-270 {
    padding-left: 270px;
}

th{
    text-align: center;
    vertical-align: middle !important;
}

.list-group-item {
    border: none !important;
    border-radius: 0.25rem;
}

 td {
    background-color: white !important;
}
